html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/lib/angular.js')
  body
    h1 Simply chat
    #container
      p Here comes the rest of it.